# SPARK BÁSICO - 03
## ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) DataFrames. Fundamentos
> Notebook con los fundamentos sobre DataFrames en Spark

##![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) spark.createDataFrame()

> Función que permite crear dataframes

In [0]:
df=  [{'nombre': 'Rosa', 'edad': 30 , 'ciudad': 'Valladolid' },
      {'nombre': 'Jose', 'edad': 30 , 'ciudad': 'Madrid'},
      {'nombre': 'Juan', 'edad': 20 , 'ciudad': 'Palencia'}]

dfCustomer=spark.createDataFrame(df)

##![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) count()

> Retorna el nro. de filas del dataset

In [0]:
dfCustomer.count()

Out[2]: 3

##![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) printSchema()

> Función que que devuelve la estructura del dataframe

In [0]:
dfCustomer.printSchema()

root
 |-- ciudad: string (nullable = true)
 |-- edad: long (nullable = true)
 |-- nombre: string (nullable = true)

##![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) show(..)

Esta función me permite visualizar los datos

Parámetros opcionales:
* **n**: Número de filas que queremos visualizar.
* **truncate**: Si el valor es en True, las columnas de más de 20 caracteres serán omitidos

In [0]:
dfCustomer.show(2)

+----------+----+------+
|    ciudad|edad|nombre|
+----------+----+------+
|Valladolid|  30|  Rosa|
|    Madrid|  30|  Jose|
+----------+----+------+
only showing top 2 rows

##![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) display(..)

Podemos utilizar tambien la función display para la visualización de datos y ver los datos de otra manera

In [0]:
display(dfCustomer)

ciudad,edad,nombre
Valladolid,30,Rosa
Madrid,30,Jose
Palencia,20,Juan

##![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) limit(..)

La principal diferencia entre display y show , es que en show podemos indicarle el nro. de filas

> Esta función me permite crear un nuevo dataset donde le pueda colocar un límite de filas

In [0]:
dfCustomerLimit = dfCustomer.limit(2) 

dfCustomerLimit.show()

+----------+----+------+
|    ciudad|edad|nombre|
+----------+----+------+
|Valladolid|  30|  Rosa|
|    Madrid|  30|  Jose|
+----------+----+------+

##![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) select(..)

Esta función te permite seleccionar algunas columnas de un datfrme

In [0]:
# Transformamos la data, quedandonos solo con 2 columnas
dfCustomerSelect = (dfCustomer
  .select("nombre","edad") 
)
# Imprimimos el schema
dfCustomerSelect.printSchema()

#Visualizamos por pantalla
dfCustomerSelect.show()

root
 |-- nombre: string (nullable = true)
 |-- edad: long (nullable = true)

+------+----+
|nombre|edad|
+------+----+
|  Rosa|  30|
|  Jose|  30|
|  Juan|  20|
+------+----+

##![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) drop(..)

La función drop() te permite eliminar columnas de un dataframe

In [0]:
dfCustomerDrop= dfCustomer.drop("edad")

dfCustomerDrop.show()

+----------+------+
|    ciudad|nombre|
+----------+------+
|Valladolid|  Rosa|
|    Madrid|  Jose|
|  Palencia|  Juan|
+----------+------+