# Ejercicios Pandas

Tras hacer tus propias pruebas con la teoría de Pandas, completa los siguientes ejercicios en orden:

---
## Ejercicio 1

Al igual que con NumPy, tendrás que importar las librerías necesarias para poder trabajar:

In [2]:
import pandas as pd
import numpy as np

---
## Ejercicio 2

Crea una serie a partir de un diccionario con al menos 3 elementos. Muestra por pantalla la serie:

In [3]:
diccionario = {"Darth Vader": 1, "Darth Maul": 2, "Emperador Palpatine": 3}
serie = pd.Series(diccionario)

serie

Darth Vader            1
Darth Maul             2
Emperador Palpatine    3
dtype: int64

---
## Ejercicio 3

Crea una matriz de NumPy con al menos 3 filas y 3 columnas. A partir de esta, crea un dataframe, teniendo en cuenta que la primera fila serán los nombres de las columnas y la primera columna los índices de las filas. Muestra el DataFrame por pantalla:

In [5]:
matriz = np.array(
    [
        ["Nombre", "Edad", "Ciudad"],
        ["Darth Maul", 30, "Mandalore"],
        ["Anakin Skywalker", 25, "Cruscant"],
        ["Emperador Eterno", 280, "Exegol"],
    ]
)

df = pd.DataFrame(data=matriz[1:, :], columns=matriz[0, :], index=matriz[1:, 0])

df

                            Nombre Edad     Ciudad
Darth Maul              Darth Maul   30  Mandalore
Anakin Skywalker  Anakin Skywalker   25   Cruscant
Emperador Eterno  Emperador Eterno  280     Exegol

---
## Ejercicio 4

Crea una matriz 10x5 de números enteros comprendidos entre el 0 y el 9 con Numpy. Después, crea un DataFrame a partir de esta sin indicar columnas ni índice para las filas y muestralo por pantalla:

In [6]:
matriz_numeros = np.random.randint(0, 10, size=(10, 5))

df_numeros = pd.DataFrame(matriz_numeros)

df_numeros

   0  1  2  3  4
0  4  6  1  6  4
1  1  8  9  2  2
2  5  8  8  3  3
3  3  1  7  4  2
4  9  0  3  8  9
5  7  3  2  0  0
6  0  2  0  7  8
7  6  7  3  1  9
8  1  1  3  7  3
9  9  9  0  0  0

---
## Ejercicio 5

Del DataFrame creado en el ejercicio anterior, muestra su forma, índice, número de filas, media por columnas, valores máximos y mínimos por columnas, mediana por columnas y la desviación típica por columnas:

In [7]:
# Mostrando la forma del DataFrame
forma = df_numeros.shape

# Mostrando el índice del DataFrame
indice = df_numeros.index

# Número de filas del DataFrame
numero_filas = len(df_numeros)

# Media por columnas del DataFrame
media_columnas = df_numeros.mean()

# Valores máximos por columnas del DataFrame
maximos_columnas = df_numeros.max()

# Valores mínimos por columnas del DataFrame
minimos_columnas = df_numeros.min()

# Mediana por columnas del DataFrame
mediana_columnas = df_numeros.median()

# Desviación típica por columnas del DataFrame
desviacion_tipica_columnas = df_numeros.std()

forma, indice, numero_filas, media_columnas, maximos_columnas, minimos_columnas, mediana_columnas, desviacion_tipica_columnas

((10, 5),
 RangeIndex(start=0, stop=10, step=1),
 10,
 0    4.5
 1    4.5
 2    3.6
 3    3.8
 4    4.0
 dtype: float64,
 0    9
 1    9
 2    9
 3    8
 4    9
 dtype: int32,
 0    0
 1    0
 2    0
 3    0
 4    0
 dtype: int32,
 0    4.5
 1    4.5
 2    3.0
 3    3.5
 4    3.0
 dtype: float64,
 0    3.274480
 1    3.439961
 2    3.272783
 3    3.047768
 4    3.464102
 dtype: float64)

---
## Ejercicio 6

Crea un DataFrame a partir de una matriz con valores definidos por tí. Estos valores deberán incluir valores nulos. Luego muestra la cantidad de valores nulos por pantalla y modifica los valores nulos por la media que tenga dicha columna sin incluir los nulos. Muestra el resultado por pantalla:

In [8]:
matriz_con_nulos = np.array(
    [[23, np.nan, 30], [45, 22, np.nan], [np.nan, 18, 25], [32, 20, 27]]
)

df_con_nulos = pd.DataFrame(
    matriz_con_nulos, columns=["Edad Luke", "Edad Leia", "Edad Han"]
)

# Valores nulos por columna
valores_nulos = df_con_nulos.isnull().sum()

# Modificando los valores nulos por la media
df_sin_nulos = df_con_nulos.fillna(df_con_nulos.mean())

valores_nulos, df_sin_nulos

(Edad Luke    1
 Edad Leia    1
 Edad Han     1
 dtype: int64,
    Edad Luke  Edad Leia   Edad Han
 0  23.000000       20.0  30.000000
 1  45.000000       22.0  27.333333
 2  33.333333       18.0  25.000000
 3  32.000000       20.0  27.000000)

---
## Ejercicio 7

Importa en DataFrames distintos, al menos los datos de un CSV y un JSON contenidos en el fichero comprimido "02-Pandas_ficheros.zip". Muestra por pantalla la descripción básica de los datos de cada una de ellas:

In [9]:
df_csv = pd.read_csv("./datasets/mnist_test.csv")
print(df_csv.describe())

df_json = pd.read_json("./datasets/anscombe.json")
print(df_json.describe())

                 7       0     0.1     0.2     0.3     0.4     0.5     0.6  \
count  9999.000000  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0
mean      4.443144     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       2.895897     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       2.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       4.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       7.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       9.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0

          0.7     0.8  ...        0.658        0.659        0.660  \
count  9999.0  9999.0  ...  9999.000000  9999.000000  9999.000000
mean      0.0     0.0  ...     0.179318     0.163616     0.052605
std       0.0     0.0  ...     5.674433     5.736359     2.420125
min       0.0     0.0  ...     0.000000     0.000000     0.000000
25%       0.0     0.0  ...     0.000000     0.000000     0.000000
50%       0.0     0.0  ...     0.000000     0.000000     0.000000
75%       0.0     0.0  ...     0.000000     0.000000     0.000000
max       0.0     0.0  ...   253.000000   253.000000   156.000000

             0.661   0.662   0.663   0.664   0.665   0.666   0.667
count  9999.000000  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0
mean      0.000600     0.0     0.0     0.0     0.0     0.0     0.0
std       0.060003     0.0     0.0     0.0     0.0     0.0     0.0
min       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
max       6.000000     0.0     0.0     0.0     0.0     0.0     0.0

[8 rows x 785 columns]
               X          Y
count  44.000000  44.000000
mean    9.000000   7.500455
std     3.198837   1.959244
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

---
## Ejercicio 8

Crea una matriz aleatoria 100x3 de números comprendidos entre el 0 y el 1 con Numpy. Exportala tanto a un fichero CSV como a un fichero JSON y comprueba el resultado abriendo dichos ficheros:

In [10]:
# Creando una matriz aleatoria 100x3 de números comprendidos entre el 0 y el 1
matriz_aleatoria = np.random.rand(100, 3)

# Convirtiendo la matriz a un DataFrame para facilitar la exportación
df_aleatorio = pd.DataFrame(matriz_aleatoria, columns=["Col1", "Col2", "Col3"])

# Exportando el DataFrame a un fichero CSV
csv_path = "./datasets/generados/matriz_aleatoria.csv"
df_aleatorio.to_csv(csv_path, index=False)

# Exportando el DataFrame a un fichero JSON
json_path = "./datasets/generados/matriz_aleatoria.json"
df_aleatorio.to_json(json_path, orient="records")

csv_path, json_path

('./datasets/generados/matriz_aleatoria.csv',
 './datasets/generados/matriz_aleatoria.json')

---
## Ejercicio 9

Investiga qué es la correlación entre columnas. Cuando lo hayas entendido, crea una matriz 10x3 con datos manuales que entre la primera y segunda columna de una correlación de 1 en ambos sentidos. Muestra la matriz y su correlación entre columnas por pantalla:

In [4]:
# Datos manuales
valores = np.arange(1, 11)
columna1 = valores
columna2 = valores * 2
# Datos aleatorios
columna3 = np.random.rand(10)

matriz = np.column_stack((columna1, columna2, columna3))

# Conversión a DataFrame
df_manual = pd.DataFrame(matriz, columns=["Columna1", "Columna2", "Columna3"])

# Calculo de la correlación
correlacion = df_manual.corr()

matriz, correlacion

(array([[ 1.        ,  2.        ,  0.66856779],
        [ 2.        ,  4.        ,  0.59068987],
        [ 3.        ,  6.        ,  0.92054332],
        [ 4.        ,  8.        ,  0.91245869],
        [ 5.        , 10.        ,  0.8493432 ],
        [ 6.        , 12.        ,  0.99730328],
        [ 7.        , 14.        ,  0.10711532],
        [ 8.        , 16.        ,  0.77049365],
        [ 9.        , 18.        ,  0.52431684],
        [10.        , 20.        ,  0.19394995]]),
           Columna1  Columna2  Columna3
 Columna1  1.000000  1.000000 -0.465977
 Columna2  1.000000  1.000000 -0.465977
 Columna3 -0.465977 -0.465977  1.000000)

### Explicación de la correlación
La correlación entre columnas de un conjunto de datos mide la relación lineal entre las variables representadas por esas columnas. El coeficiente de correlación varía entre -1 y 1, donde:

- **1** indica una correlación positiva perfecta (cuando una variable aumenta, la otra también lo hace en la misma proporción).
- **-1** indica una correlación negativa perfecta (cuando una variable aumenta, la otra disminuye en la misma proporción).
- **0** indica que no hay correlación lineal entre las variables.

Para obtener una correlación de 1 entre dos columnas, los valores en una deben ser una transformación lineal directa de los otros, por ejemplo, multiplicando o sumando un constante (pero sin cambiar el orden relativo de los valores).